/* Reset margin dan padding pada tag body */
body{
    margin: 0;
    padding: 0;
}

.logo{
    width: 5rem;
}

/* tag nav berperan sebagai flex container */
nav{
    /* Syarat untuk menggunakan flexbox */
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 0.5rem;
    
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li {
    margin: 0 1rem;
}
nav ul li a{
    color: plum;
    text-decoration: none;
}
nav ul li a :hover{
    border-bottom: 2px solid brown;
}

    
    